*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Local SDK and JDK downloads
/.jdk/
/.sdk/
/app/build/
build/

# Binaries and memory dumps
*.hprof
*.apk
